---
vault_keystore_password: "changeit"
vault_ldap_password: "${ldap_password}"
vault_admin_password: "${admin_password}"
vault_service_admin_password: "${service_admin_password}"
vault_smtp_password: "${smtp_password}"
