[Unit]
Description=Tomcat
After=syslog.target network.target

[Service]
Type=forking

User={{ tomcat.owner }}
Group={{ tomcat.owner }}

EnvironmentFile={{ tomcat.config_file }}

Environment=CATALINA_BASE={{ tomcat.catalina_home }}
Environment=CATALINA_PID={{ tomcat.catalina_home }}/temp/tomcat.pid

ExecStart={{ tomcat.catalina_home }}/bin/catalina.sh start
ExecStop={{ tomcat.catalina_home }}/bin/catalina.sh stop

[Install]
WantedBy=multi-user.target
