---
- name: Ensure Java version {{ java.package }} is installed
  ansible.builtin.package:
    name: "{{ java.package }}"
    state: installed

- name: Set JAVA_HOME through shell script
  ansible.builtin.template:
    src: "java_home.sh.j2"
    dest: "{{ java.profile_d }}/java_home.sh"
    mode: 0644
  when: java.home is defined and java.home != ''
