datasource.driver=org.postgresql.Driver
datasource.url=jdbc:postgresql://{{ db_server.host }}:{{ db_server.port }}/{{ db_server.postgresql_database }}
datasource.username={{ db_server.postgresql_user }}
datasource.password={{ db_server.postgresql_password }}

hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.hbm2ddl.auto=update
hibernate.show_sql=false
hibernate.cache.use_second_level_cache=true
hibernate.cache.use_query_cache=true
