{
  "enableCsrfToken": true,
  "aliasTokenTimeout": "2 days",
  "uiDisplaySeriesDescription": true,
  "uiShowLeftBar": true,
  "emailVerification": true,
  "requireChangeJustification": false,
  "maxFailedLoginsLockoutDuration": "1 hour",
  "passwordHistoryDuration": "1 year",
  "reloadPrearcDatabaseOnStartup": "{{ xnat_common_config.reloadPrearcDatabaseOnStartup }}",
  "siteWideAlertType": "message",
  "allowNonAdminsToClaimUnassignedSessions": "{{ xnat_common_config.allowNonAdminsToClaimUnassignedSessions }}",
  "uiShowLeftBarProjects": true,
  "requireImageAssessorLabels": false,
  "sessionTimeoutMessage": "You have been signed out due to inactivity.",
  "adminEmail": "{{ xnat_common_config.admin_email }}",
  "dataPaths": [
    "/xapi/**",
    "/data/**",
    "/REST/**",
    "/fs/**"
  ],
  "uiAllowBlockedSubjectAssessorView": false,
  "requireSaltedPasswords": true,
  "failMergeOn": [],
  "requireEventName": false,
  "siteWideAlertMessage": "",
  "uiAllowProjectDelete": true,
  "enableSitewideSeriesImportFilter": false,
  "concurrentMaxSessions": 1000,
  "siteDescriptionType": "Text",
  "siteDescriptionText": "{{ xnat_config.site_description }}",
  "cachePath": "{{ xnat_cache_dir }}",
  "uiShowLeftBarBrowse": true,
  "securityChannel": "any",
  "ipsThatCanSendEmailsThroughRest": "{{ xnat_common_config.ipsThatCanSendEmailsThroughRest }}",
  "checksums": true,
  "zipExtensions": "zip,jar,rar,ear,gar,mrb",
  "passwordExpirationType": "Interval",
  "siteLogoPath": "{{ xnat_config_logo }}",
  "sitewideSeriesImportFilter": "",
  "allowHtmlResourceRendering": true,
  "passwordExpirationDate": "",
  "userRegistration": false,
  "uiAllowScanAddition": true,
  "siteLoginLanding": "/screens/QuickSearch.vm",
  "sitewideAnonymizationScript": {{ xnat_sitewide_anonymization_script }},
  "uiAllowScanTypeModification": true,
  "roleRepositoryService": "org.nrg.xdat.security.services.impl.RoleRepositoryServiceImpl",
  "initialized": true,
  "ftpPath": "{{ xnat_ftp_dir }}",
  "primaryAdminUsername": "{{ xnat_common_config.primaryAdminUsername }}",
  "restrictUserListAccessToAdmins": "{{ xnat_common_config.restrictUserListAccessToAdmins }}",
  "siteDescriptionPage": "/screens/site_description.vm",
  "dicomFileNameTemplate": "${StudyInstanceUID}-${SeriesNumber}-${InstanceNumber}-${HashSOPClassUIDWithSOPInstanceUID}",
  "sessionXmlRebuilderRepeat": 60000,
  "uiDebugExtensionPoints": false,
  "imageSessionDisplayNamePlural": "Sessions",
  "aliasTokenTimeoutSchedule": "0 0 * * * *",
  "interactiveAgentIds": [
    ".*MSIE.*",
    ".*Mozilla.*",
    ".*AppleWebKit.*",
    ".*Opera.*"
  ],
  "passwordComplexityMessage": "The password must contain at least 8 characters.",
  "uiShowLeftBarFavorites": true,
  "emailVerificationMessage": "Dear FULL_NAME,\n<br><br>We received a request to create an account for you on SITE_NAME. If you made this request, please confirm your email address by clicking this link: <a href=\"VERIFICATION_URL\">Verify Email</a>\n (This link will expire in 24 hours.)AUTO_ENABLE_TEXT<br><br>If you did not initiate this request, you can safely ignore this email.",
  "pathErrorWarning": "",
  "csrfEmailAlert": true,
  "showChangeJustification": false,
  "uiShowProjectManageFiles": true,
  "featureService": "org.nrg.xdat.security.services.impl.FeatureServiceImpl",
  "siteUrl": "{{ xnat_web_server.url }}",
  "passwordExpirationInterval": "2 years",
  "uiLoginFailureMessage": "The username or password you entered is incorrect. Please try again or reset your password. <p><I>After %d failed login attempts, your user account will be locked. If you believe your account is currently locked, you can:</I><ul><li>Unlock it by resetting your password</li><li>Wait one hour for it to unlock automatically</li></ul>",
  "sitewidePetTracers": "PIB\nFDG",
  "imageSessionDisplayNameSingular": "Session",
  "scanTypeMapping": true,
  "uiAllowNonAdminProjectCreation": "{{ xnat_common_config.uiAllowNonAdminProjectCreation }}",
  "receivedFileUser": "{{ xnat_common_config.receivedFileUser }}",
  "maxFailedLogins": 6,
  "enableSitewideAnonymizationScript": "{{ xnat_common_config.enableSitewideAnonymizationScript }}",
  "pipelinePath": "{{ xnat_pipeline_dir }}",
  "uiAllowSubjectCreateFromExptEdit": true,
  "par": "{{ xnat_common_config.par }}",
  "processingUrl": "{{ xnat.processingUrl }}",
  "inactivityBeforeLockout": "3 years",
  "requireLogin": true,
  "uiAllowQuarantine": true,
  "uiShowLeftBarSearch": true,
  "canResetFailedLoginsWithForgotPassword": true,
  "sessionXmlRebuilderInterval": "{{ xnat_common_config.sessionXmlRebuilderInterval }}",
  "inactivityBeforeLockoutSchedule": "0 0 1 * * ?",
  "sessionTimeout": "1 hour",
  "roleService": "org.nrg.xdat.security.services.impl.RoleServiceImpl",
  "enableDicomReceiver": true,
  "enableDicomReceiverPropertyChangedListener": "org.nrg.dcm.DicomSCPSiteConfigurationListener",
  "prearchivePath": "{{ xnat_prearchive_dir }}",
  "passwordComplexity": "^.{8,}$",
  "archivePath": "{{ xnat_archive_dir }}",
  "buildPath": "{{ xnat_build_dir }}",
  "enabledProviders": {{ custom_enabled_providers | default(xnat_common_config.enabledProviders) | to_json }},
  "allowDataAdmins": true,
  "uiShowManageFiles": true,
  "passwordReuseRestriction": "Historical",
  "matchSecurityProtocol": false,
  "siteWideAlertStatus": 0,
  "inboxPath": "{{ xnat_inbox_dir }}",
  "projectAllowAutoArchive": true,
  "resetFailedLoginsSchedule": "0 0 * * * *",
  "uiAllowAdvancedSearch": true,
  "featureRepositoryService": "org.nrg.xdat.security.services.impl.FeatureRepositoryServiceImpl",
  "siteHomeLayout": "/Index.vm",
  "siteLandingLayout": "/Index.vm",
  "sitewidePetMr": "",
  "sitewideSeriesImportFilterMode": "blacklist",
  "siteId": "{{ xnat_config.site_name }}",
  "uiAllowNewUserComments": true,
  "siteHome": "/screens/QuickSearch.vm"
}
