<?xml version="1.0" encoding="utf-8"?>
<ProjectData
    ID="{{ project_id }}"
    secondary_ID="I-BASH-{{ '%02x' | format(user_id) }}"
    name="{{ project_name }}"
    description="The Imaging of Brain Anomalies in Super Heroes study (I-BASH) is a multicentre cohort of individuals with these powers as well as close family members or siblings without enhancement, who serve as a natural control group. "
    keywords="super-heroes t1 t2 diffusion fMRI spin-labelling">
    <PI firstname="{{ user_firstname }}" lastname="{{ user_lastname }} "></PI>
</ProjectData>
