---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  linting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: UCL-MIRSG/.github/actions/linting@0ebba40bf580f7aed98275c156ab8fb71c33ea82 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml
          ansible-roles-config: ./configure/playbooks/roles/requirements.yml
